# If a memory access by GDB fails, report it so that GDB will print a “Cannot
# access memory” message rather than faking it to look like it contains all zeroes.
gdb_report_data_abort enable

# Likewise, if a CPU register access by GDB fails, report it rather than faking it.
gdb_report_register_access_error enable

# ==================================================================================================
#
# Target configuration for Arneb Zaber-custom JTAG adapter.
#
# Pins are as follows:
# ADBUS0: TCK
# ADBUS1: TDI
# ADBUS2: TDO
# ADBUS3: TMS
# ADBUS4: TRST
# ADBUS5: TRST_OE
# ADBUS6: SRST
# ADBUS7: SRST_OE
# ACBUS0: ~LED
# ACBUS1: N/C
# ACBUS2: N/C
# ACBUS3: N/C
# ACBUS4: N/C
# ACBUS5: N/C
# ACBUS6: N/C
# ACBUS7: N/C
#
adapter driver ftdi
ftdi vid_pid 0x0403 0x6014
ftdi layout_init 0x0008 0xFFFB
ftdi layout_signal nSRST -data 0x0040 -oe 0x0080
ftdi layout_signal nTRST -data 0x0010 -oe 0x0020
ftdi layout_signal LED -ndata 0x0100
ftdi layout_signal SWD_EN -data 0 -oe 0
ftdi layout_signal SWDIO_OE -ndata 0x0200

# ==================================================================================================

transport select swd

set CHIPNAME stm32h743.rimini

source [find target/stm32h7x_dual_bank.cfg]

set _CPUNAME $CHIPNAME.cpu0

# reset_config srst_only connect_assert_srst
reset_config srst_only


lappend post_init_commands {echo "Executing commands after connection:"}

lappend post_init_commands {echo "\t(1) reset run"}
lappend post_init_commands { echo [capture "reset run"] }

lappend post_init_commands {echo "\t(2) read PCSR"}
lappend post_init_commands { echo [capture "reg pcsr"] }

lappend post_init_commands {echo "\t(3) targets"}
lappend post_init_commands { echo [capture "targets"] }

lappend post_init_commands {echo "\t(4) arm semihosting enable"}
lappend post_init_commands { echo [capture "arm semihosting enable"] }

lappend post_init_commands {echo "CONNECTED"}

# ==================================================================================================
#
# Target events handlers.
#

# $_CPUNAME configure -event reset-init {
# 	echo "EVENT: reset-init"
# }

# $_CPUNAME configure -event gdb-attach {
# 	echo "EVENT: gdb-attach"
# }

# $_CPUNAME configure -event gdb-detach {
# 	echo "EVENT: gdb-detach"
# }

# $_CPUNAME configure -event gdb-start {
# 	echo "EVENT: gdb-start"
# }

# $_CPUNAME configure -event gdb-end {
# 	echo "EVENT: gdb-end"
# }

# ==================================================================================================
