# STM32H743ZI Nucleo board configuration

# Copyright (c) 2020 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

config BOARD_RIJEKA
	bool "Nucleo H743ZI Development Board #2"
	depends on SOC_STM32H743XX
