
---
BasedOnStyle: WebKit
AccessModifierOffset: 0
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
Cpp11BracedListStyle: true
FixNamespaceComments: false
IncludeBlocks: Merge
IncludeCategories:
  # local includes
  - Regex: '^"'
    Priority: 1
  # system includes
  - Regex: '^<'
    Priority: 2
IncludeIsMainRegex: "(-test)?$"
IndentCaseLabels: true
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 3
NamespaceIndentation: None
PointerAlignment: Right
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: Never
SpacesInContainerLiterals: false
SpaceInEmptyBlock: false
TabWidth: 4
UseTab: ForContinuationAndIndentation

...
