# This is an ST NUCLEO-H743ZI board with single STM32H743ZI chip.
# http://www.st.com/en/evaluation-tools/nucleo-h743zi.html

source boards/common.openocd.cfg

source [find interface/stlink.cfg]

transport select hla_swd


# STM32H7xxxI 2Mo have a dual bank flash.
source [find target/stm32h7x_dual_bank.cfg]

# Reset configuration:
#   srst_only: Only System Reset hardware signal is available.
#   srst_nogate: It's still possible to communicate to JTAG while System Reset is asserted.
#   connect_assert_srst: System reset will be asserted before any target connection. Use 'reset halt' or 'reset run'.
reset_config srst_only srst_nogate connect_assert_srst
