# STM32F0 development board with STM32F051R8T6 MCU

# Copyright (c) 2018 Nathan Tsoi <nathan@vertile.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_RIGA

config BOARD
	default "riga"

endif # BOARD_RIGA
